@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html {
  height: 100vh;
  background-color: #f8f8f8;
}

body {
  height: 100vh ;
  background-color: #ffffff;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #555555;

}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

nav{
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  top:0;
  display: block;
  position: fixed;
}
$menu_WIDTH: 150px;

.menu {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu-title {
  display: block;
  width: $menu_WIDTH;
  height: 50px;
  padding: 12px 0;
  background: #90bf26;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.3s background-color;
}

.menu-title:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #90bf26;
  border-left: ($menu_WIDTH / 2) solid transparent;
  border-right: ($menu_WIDTH / 2) solid transparent;
  border-bottom: 0 solid #dddddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition:
    0.2s 0.2s border-top ease-out,
    0.3s border-top-color;
}

.menu-title:hover { background: #8db842; transform: scale(1.2);transition: all ease-in-out .5s;}

.menu-title:hover:before { border-top-color: #8db842; }

.menu:hover > .menu-title:before {
  border-top-width: 0;
  transition:
    0.2s border-top-width ease-in,
    0.3s border-top-color;
}


.menu-title:after {
  content: "";
  display: block;
  height: 0;
  border-left: ($menu_WIDTH / 2) solid transparent;
  border-right: ($menu_WIDTH / 2) solid transparent;
  border-bottom: 0 solid #d0e9a8;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-title:after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}


.menu-dropdown {
  width: 10vw;
  padding: 15px 0;
  position: absolute;
  background: #d0e9a8;
  z-index: 100;
  transition:
    0.5s padding,
    0.5s background;
}

.menu-dropdown:after {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #d0e9a8;
  border-left: ($menu_WIDTH / 2) solid transparent;
  border-right: ($menu_WIDTH / 2) solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
  padding: 4px 0;
  background: #dddddd;
  z-index: 99;
}

.menu:not(:hover) > .menu-dropdown:after {
  border-top-color: #dddddd;
}

.menu:not(:hover) > .menu-title:after {
  border-bottom-color: #dddddd;
}

.menu-dropdown > * {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: rgba(0,0,0,0);
  white-space: nowrap;
  transition:
    0.5s height cubic-bezier(.73,.32,.34,1.5),
    0.5s padding cubic-bezier(.73,.32,.34,1.5),
    0.5s margin cubic-bezier(.73,.32,.34,1.5),
    0.5s 0.2s color,
    0.2s background-color;
}

.menu-dropdown > *:hover {
  background: rgba(0,0,0,0.1);
  tran  
}

.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25,25,25,0);
  transition:
    0.5s 0.1s height,
    0.5s 0.1s padding,
    0.5s 0.1s margin,
    0.3s color,
    0.6s visibility;
  z-index: 99;
}

.hList {
  //overflow: hidden;
  width: 100%;
  float:left;

}

.hList > * {
  float: left;
}

.hList > * + * {
  margin-left: 0;
}
ul{
  list-style-type: none;

}
li.menu{
  width:10vw;

}
ul{
  background-color: #90bf26;
}
main{
  width:90vw;
    
}
img{
     animation-name: show-news-item;
    animation-duration: 1.5s;
}
img.first{
  margin: 0;
  margin-top:8%;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -999;
}

li.logo{
  height: 100px;
  float: right;
  padding-right: 20px;
}

#matches{
  text-align: center;
  padding: 50px 50px;
    
}
#matches>h1{
height: 40px;
font-size: 400%;
}
.container{
  float: right;
  background-color: white;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.39);
  margin-bottom: 25px;
  margin: 50px 40px;

}
#matches>.container>img{
  height: 50vh;
}
#matches>.text{
  margin: 150px 40px;
  font-size: 130%;
  text-align: left;
  margin-right: 100px;
}

#last-win{
  width:100%;
  float: right;
  background-color: #e2eaf0;
  border-color: inherit;
  margin-bottom: 25px;
  margin: 0px 0;
}

#last-win>div>.container{
  width:30%;
  height:370px;
  padding: 20px 0px;
  margin: 70px 20px;
  text-align: center;
  font-size: 150%;
  text-align: center;
}
#last-win>div>.container>img{
  width: 60%;
  padding: 0 20px;
}

#last-win>div>h1{
  text-align: center;
  font-size: 300%;
}
.second{
  width:50px;
}
footer{

   left: 0;
   bottom: 0;
  text-align: center;
  background-color: #90bf26;
  width:100%;
  color: white;
  padding: 5px;
  
  
}

.footer-1{
      position: fixed;
}
.container-4{
  float:left;
  background-color: white;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.39);
  margin-bottom: 25px;
  margin: 20px 10px;
    width:23%;
    height: 400px;
    text-align: center;
  animation-name: pulse;
    animation-duration: 1s;
}

container-text{
 float:left;
  background-color: #d0e9a8;
 
  margin-bottom: 25px;
  margin: 5px 5px;
    width:23%;
    height: 400px;
    text-align: center;
}
@keyframes show-news-item {
  from{opacity: 0;}
  50% {
        
        opacity   : 0.25;
    }
  to{opacity: 1;}
}
@keyframes pulse {
    from {
        transform : scale(1);
        
        opacity   : 1;
    }
    50% {
        transform : scale(0.75);
        opacity   : 0.25;
    }
    to {
        transform : scale(1);
        opacity   : 1;
    }
}
.news{
    margin: 120px 10px;
   
 
    
}

.third{
    width:100%;
    height: 50%;
}
p.blue{
    text-align: center;
    background-color: antiquewhite;
    
}
.wins>h1{
    text-align: center;
    font-size: 200%;
}